* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

/* generel billede regel */
img {
    max-width: 100%;
    object-fit: cover;
  }
/* fonts */
/* 
font-family: 'Antic Didone', serif;
font-family: 'Italiana', serif; 
font-family: 'Baskervville', serif;*/

h2{
    font-family: 'Antic Didone', serif;
    /* font-family: 'Italiana', serif;*/
    font-size: 2.5rem;
}

h3{
    font-family: 'Antic Didone', serif;
    /* font-family: 'Italiana', serif; */
    font-size: 1.5rem;
}

p{
    font-family: 'Baskervville', serif;
    line-height: 45px;
}

/* a hover farve*/
a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: rgb(180, 204, 189);
    text-decoration: none;
}

/* forside */

/* Tema4 side - sectioner */
/*responsiv tekst*/

@media screen and (max-width: 900px) {
/* section 1 */
.section1{
    background-color:#454938;
    color: white;
}
.h2_section1{
    position: relative;
    top: -80px;
    color: white;
    text-align: center;
    font-size: 1rem;
}

.h3_section1{
    position: relative;
    top: -50px;
    color: white;
    text-align: center;
    font-size: 1rem;
}
/* hr styling min-width*/
.hr_section1{
    position: relative;
    top: -68px;
    border: 1px solid white;
    width: 60%; margin: 0 20% 0 20%;;
}
/* section 2 */
.section2{
    background-color:#454938;
    color: white;
    padding: 50px;
    line-height: 50px;
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
}
.h3_section2{
    font-size: 1.5rem;
    order: 1;
}

.tekst_section2{
    order: 2;
    font-family: 'Baskervville', serif;
}
.img1{
    width: 100%;
    order: 3;
    /* border: white solid 20px; */
}

/* section 3 */
.section3{
    background-color:#626453;
    color: white;
    padding: 50px;
    line-height: 50px;
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
}
.h3_section3{
    font-size: 1.5rem;
    order: 1;
}
.tekst_section3{
    order: 2;
    font-family: 'Baskervville', serif;
}
.img2{
    width: 100%;
    order: 3;
    /* border: white solid 20px; */
}
/* section 4 */
.section4{
    background-color:#999C87;
    color: white;
    padding: 50px;
    line-height: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.img1_section4{
    width: 100%;
    order: 1;
    border: white solid 5px;
}
.img2_section4{
    width: 100%;
    order: 2;
    border: white solid 5px;
}
.img3_section4{
    width: 100%;
    order: 3;
    border: white solid 5px;
}
}

@media screen and (min-width: 901px){
/* section 1 */
.section1{
    background-color:#454938;
    color: white;
}
.h2_section1{
    position: relative;
    top: -210px;
    color: white;
    text-align: center;
    font-size: 2.5rem;
}

.h3_section1{
    position: relative;
    top: -160px;
    color: white;
    text-align: center;
    font-size: 2rem;
}
/* hr styling min-width*/
.hr_section1{
    position: relative;
    top: -190px;
    border: 1px solid white;
    width: 60%; margin: 0 20% 0 20%;;
}
/* section 2 */
.section2{
    background-color:#454938;
    color: white;
    padding: 50px;
    line-height: 50px;
    gap: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 1fr 1fr; */
}
.h3_section2{
    font-size: 2rem;
    grid-column: 1/2;
}

.tekst_section2{
    grid-column: 1/2;
    font-family: 'Baskervville', serif;
}
.img1{
    width: 100%;
    grid-column: 2/3;
    /* border: white solid 20px; */
}

/* section 3 */
.section3{
    background-color:#626453;
    color: white;
    padding: 50px;
    line-height: 50px;
    gap: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 1fr 1fr; */
}
.h3_section3{
    font-size: 2rem;
    grid-column: 1/2;
}
.tekst_section3{
    grid-column: 1/2;
    font-family: 'Baskervville', serif;
}
.img2{
    width: 100%;
    grid-column: 2/3;
    /* border: white solid 20px; */
}
/* section 4 */
.section4{
    background-color:#999C87;
    color: white;
    padding: 50px;
    line-height: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}
.img1_section4{
    width: 100%;
    border: white solid 5px;
}
.img2_section4{
    width: 100%;
    border: white solid 5px;
}
.img3_section4{
    width: 100%;
    border: white solid 5px;
}
}

/* hr styling */
hr{
    border-top: 1px solid white;
}
