* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

/* generel billede regel */
img {
    max-width: 100%;
    object-fit: cover;
  }
/* fonts */
/* 
font-family: 'Antic Didone', serif;
font-family: 'Italiana', serif; 
font-family: 'Baskervville', serif;*/

h2{
    font-family: 'Antic Didone', serif;
    /* font-family: 'Italiana', serif;*/
    font-size: 2.5rem;
}

h3{
    font-family: 'Antic Didone', serif;
    /* font-family: 'Italiana', serif; */
    font-size: 1.5rem;
}

p{
    font-family: 'Baskervville', serif;
    line-height: 45px;
}
/* a hover farve*/
a{
    color: white;
}

a:hover{
    color: rgb(180, 204, 189);
}
@media screen and (max-width: 900px) {
    .sectionwrapper2{
        background-color:#626453;
        color: white;
        padding: 50px;
        line-height: 50px;
        display: grid;
        text-align: center;
    }
    .h2_sectionwrapper2{
        position: relative;
        top: -130px;
        font-size: 1.5rem;
    }
    .hr_om_mig{
        border-top: 2px solid white;
        position: relative;
        top: -130px;
        width: 60%; margin: 0 20% 0 20%;;

    }
    /* section 2 */
    .section2{
        background-color:#626453;
        color: white;
        padding: 50px;
        line-height: 50px;
        display: flex;
        gap: 30px;
        grid-template-columns: 1fr 1fr;
        flex-wrap: wrap;
    }
    .h3_section2{
        font-family: 'Antic Didone', serif;
        font-size: 2rem;
        background-color: #626453;
        color: white;
    }
    .tekst_section2{
        grid-column: 1/2;
        font-family: 'Baskervville', serif;
        font-size: 0.9rem;
        text-align: justify;
    }
    .img1{
        width: 100%;
        grid-column: 2/3;
        height: auto;
    }
    /* section 3 */
    .h3_section3{
        font-family: 'Antic Didone', serif;
        font-size: 2rem;
        background-color: #626453;
        color: white;
        line-height: 50px;
        grid-column: 2/3;
        grid-row: auto;
    }
    .section3{
        background-color: #626453;
        color: white;
        padding: 50px;
        line-height: 50px;
        gap: 30px;
        display: flex;
        flex-wrap: wrap;
        grid-template-columns: 1fr 1fr;
    }
    .tekst_section3{
        grid-column: 2/3;
        grid-row: 2/3;
        font-family: 'Baskervville', serif;
        font-size: 0.9rem;
        text-align: justify;
    }

    .img2{
        width: 100%;
        grid-column: 1/2;
        grid-row: 2/3;
        height: auto;
    }

    /* section 4 */
    .section4{
        background-color:#999C87;
        color: white;
        display: flex;
        flex-direction: row;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
        padding: 50px;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .img_wood1{
        order: 1;
        width: 100%;
    }
    .img_wood2{
        order: 2;
        width: 100%;
    }
    .img_wood3{
        order: 3;
        width: 100%;
    }
}

@media screen and (min-width: 901px) {
    .sectionwrapper2{
        background-color:#626453;
        color: white;
        padding: 50px;
        line-height: 50px;
        display: grid;
        text-align: center;
    }
    .h2_sectionwrapper2{
        position: relative;
        top: -260px;
        left: -35px;
        font-size: 3rem;
    }
    .hr_om_mig{
        border-top: 2px solid white;
        position: relative;
        top: -240px;
        width: 60%; margin: 0 20% 0 20%;;

    }
    /* section 2 */
    .section2{
        background-color:#626453;
        color: white;
        padding: 50px;
        line-height: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }
    .h3_section2{
        font-family: 'Antic Didone', serif;
        font-size: 2rem;
        background-color: #626453;
        color: white;
        grid-column: 1/2;
    }
    .tekst_section2{
        grid-column: 1/2;
        font-family: 'Baskervville', serif;
        font-size: 1.1rem;
        text-align: justify;
    }
    .img1{
        width: 100%;
        grid-column: 2/3;
        border: white solid 20px;
    }
    /* section 3 */

    .section3{
        background-color: #626453;
        color: white;
        padding: 50px;
        line-height: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }
    .h3_section3{
        font-family: 'Antic Didone', serif;
        font-size: 2rem;
        background-color: #626453;
        color: white;
        line-height: 50px;
        grid-column: 1/2;
    }
    .tekst_section3{
        grid-column: 1/2;
        font-family: 'Baskervville', serif;
        font-size: 1.1rem;
        text-align: justify;
    }

    .img2{
        width: 100%;
        grid-column: 2/3;
        border: white solid 20px;
    }

    /* section 4 */
    .section4{
        background-color:#999C87;
        color: white;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
        padding: 50px;
        justify-content: space-between;
    }
    .img_wood1{
        order: 1;
        width: 98%;
        border: white solid 10px;
    }
    .img_wood2{
        order: 2;
        width: 100%;
        border: white solid 10px;
    }
    .img_wood3{
        order: 3;
        width: 99%;
        border: white solid 10px;
    }
}


/* hr styling */
.hr1{
    border-top: 2px solid white;
}
