* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

/* generel billede regel */
img {
    max-width: 100%;
    object-fit: cover;
  }
/* fonts */
/* font-family: 'Antic Didone', serif;
font-family: 'Italiana', serif; */

h2{
    font-family: 'Antic Didone', serif;
    /* font-family: 'Italiana', serif;*/
    font-size: 2.5rem;
}
h3{
    font-family: 'Antic Didone', serif;
    /* font-family: 'Italiana', serif; */
    font-size: 1.5rem;
}

/* a hover farve*/
a{
    color: white;
}

a:hover{
    color: rgb(180, 204, 189);
}
@media screen and (max-width: 900px) {
    /* section 2 */
    .h3_section2{
        font-family: 'Antic Didone', serif;
        font-size: 2rem;
        background-color: #626453;
        color: white;
    }
    .section2{
        background-color:#626453;
        color: white;
        padding: 50px;
        line-height: 50px;
        display: flex;
        grid-template-columns: 1fr 1fr;
        flex-wrap: wrap;
    }
    .sectionwrapper2{
        background-color:#626453;
        color: white;
        padding: 50px;
        line-height: 50px;
        display: grid;
        text-align: center;
    }
    .tekst_section2{
        grid-column: 1/2;
    }
    .img1{
        width: 100%;
        grid-column: 2/3;
        height: auto;
    }
    /* section 3 */
    .h3_section3{
        font-family: 'Antic Didone', serif;
        font-size: 2rem;
        background-color: #626453;
        color: white;
        line-height: 50px;
        grid-column: 2/3;
        grid-row: auto;
    }
    .section3{
        background-color: #626453;
        color: white;
        padding: 50px;
        line-height: 50px;
        display: flex;
        flex-wrap: wrap;
        grid-template-columns: 1fr 1fr;
    }
    .tekst_section3{
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .img2{
        width: 100%;
        grid-column: 1/2;
        grid-row: 2/3;
        height: auto;
    }

    /* section 4 */
    .section4{
        background-color:#999C87;
        color: white;
        display: flex;
        flex-direction: row;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
        padding: 50px;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .img_wood1{
        order: 1;
        width: 100%;
    }
    .img_wood2{
        order: 2;
        width: 100%;
    }
    .img_wood3{
        order: 3;
        width: 100%;
    }
}

@media screen and (min-width: 901px) {
    /* section 2 */
    .h3_section2{
        font-family: 'Antic Didone', serif;
        font-size: 2rem;
        background-color: #626453;
        color: white;
    }
    .section2{
        background-color:#626453;
        color: white;
        padding: 50px;
        line-height: 50px;
        display: flex;
        grid-template-columns: 1fr 1fr;
        flex-wrap: wrap;
    }
    .sectionwrapper2{
        background-color:#626453;
        color: white;
        padding: 50px;
        line-height: 50px;
        display: grid;
        text-align: center;
    }
    .tekst_section2{
        grid-column: 1/2;
    }
    .img1{
        width: 30%;
        grid-column: 2/3;
        height: auto;
    }
    /* section 3 */
    .h3_section3{
        font-family: 'Antic Didone', serif;
        font-size: 2rem;
        background-color: #626453;
        color: white;
        line-height: 50px;
        grid-column: 2/3;
        grid-row: auto;
    }
    .section3{
        background-color: #626453;
        color: white;
        padding: 50px;
        line-height: 50px;
        display: flex;
        flex-wrap: wrap;
        grid-template-columns: 1fr 1fr;
    }
    .tekst_section3{
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .img2{
        width: 30%;
        grid-column: 1/2;
        grid-row: 2/3;
        height: auto;
    }

    /* section 4 */
    .section4{
        background-color:#999C87;
        color: white;
        display: flex;
        flex-direction: row;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
        padding: 50px;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .img_wood1{
        order: 1;
        width: 30%;
    }
    .img_wood2{
        order: 2;
        width: 30%;
    }
    .img_wood3{
        order: 3;
        width: 30%;
    }
}


/* hr styling */
.hr_om_mig{
    border-top: 2px solid white;
}
.hr1{
    border-top: 2px solid white;
}
