* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

/* generel billede regel */
img {
    max-width: 100%;
    object-fit: cover;
  }
/* fonts */
/* 
font-family: 'Antic Didone', serif;
font-family: 'Italiana', serif; 
font-family: 'Baskervville', serif;*/

h2{
    font-family: 'Antic Didone', serif;
    /* font-family: 'Italiana', serif;*/
    font-size: 2.5rem;
}

h3{
    font-family: 'Antic Didone', serif;
    /* font-family: 'Italiana', serif; */
    font-size: 1.5rem;
}

p{
    font-family: 'Baskervville', serif;
    line-height: 45px;
}
/* a hover farve*/
a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: rgb(180, 204, 189);
    text-decoration: none;
}

/* media quieries for splashbillede section*/

@media screen and (max-width: 900px) {
    /*splashbillede section*/
    .splashtext{
        position: relative;
        top: -45px;
        text-align: center;
        font-family: 'Italiana', serif;
        font-size: 2.6rem;
        color: rgb(255, 255, 255);
        /* text-shadow: 2.5px 2.5px rgb(0, 19, 4); */
    }
    .splashbilledesection{
        /* display: grid;
        grid-template-columns: 1fr 1fr 1fr; */
        background-color: #323528;
        border-style: double white;
        outline: 1px solid white;
        outline-offset: -30px;
    }
    
    .splashbillede{
    background-color: #323528;
    width: 100%;
    margin: auto;
    display: block;
    position: relative;
    top: 50px;
    }

    /* section 1 */
    .section1{
        background-color:#454938;
        color: white;
        padding: 50px;
        line-height: 60px;
        display: grid;
        grid-template-rows: auto 1fr auto;
        text-align: center;
    }
    
    .h2forside{
        font-family: 'Antic Didone', serif;
        color: white;
        font-size: 2rem;
        background-color:#454938;
        grid-row: 1/2;
        
    }
    .h3forside{
     font-size: 0.8rem;
     color: #ffffff;
     font-family: 'Antic Didone', serif;
     grid-row: 2/3;
    }
    .om_mig_knap{
        grid-row: 3/4;
        width: 180px;
        height: 60px;
        background-color: #20241d;
        color: rgb(255, 255, 255);
        font-size: 1.3rem;
        list-style-type: none;
        border-radius: 5px;
        font-family: 'Antic Didone', serif;
        position: relative;
        left: 88px;
        top: 15px;
    }

    /* sectionwrapper 2 */
    .sectionwrapper2{
        display: grid;
        justify-content: center;
        background-color:#626453 ;
        padding: 7px;
        color: white;
        top: 20px;
    }
        .section2_h2{
        position: relative;
        top: 25px;
        font-size: 2.5rem;
    }

    /* section 2 */
    .section2{
        background-color:#626453;
        color: #626453;
        padding: 50px;
        line-height: 70px;
        gap: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .kasse1{
        display: grid;
        grid-column: 1/2;
        width: 170px;
        height: 150px;
        background-color: #20241d;
        color: rgb(255, 255, 255);
        font-size: 3rem;
        list-style-type: none;
        border-radius: 4px;
        font-family: 'Antic Didone', serif;
        text-align: left;
        word-break: break-word;
    }
    .kasse2{
        display: grid;
        grid-column: 2/3;
        width: 170px;
        height: 150px;
        background-color: #20241d;
        color: rgb(255, 255, 255);
        font-size: 3rem;
        list-style-type: none;
        border-radius: 4px;
        font-family: 'Antic Didone', serif;
        text-align: left;
        word-break: break-word;
    }
    .kasse3{
        display: grid;
        grid-column: 1/2;
        width: 170px;
        height: 150px;
        background-color: #20241d;
        color: rgb(255, 255, 255);
        font-size: 2.5rem;
        list-style-type: none;
        border-radius: 4px;
        font-family: 'Antic Didone', serif;
        text-align: left;
        word-break: break-word;
    }
    .kasse4{
        display: grid;
        grid-column: 2/3;
        width: 170px;
        height: 150px;
        background-color: #20241d;
        color: rgb(255, 255, 255);
        font-size: 2.5rem;
        list-style-type: none;
        border-radius: 4px;
        font-family: 'Antic Didone', serif;
        text-align: left;
        word-break: break-word;
    }
}
@media screen and (min-width: 901px){
    /*splashbillede section*/
    .splashtext{
        position: relative;
        top: -120px;
        text-align: center;
        font-family: 'Italiana', serif;
        font-size: 7.8rem;
        color: white;
        /* text-shadow: 2.5px 2.5px rgb(0, 19, 4); */
    }
    .splashbilledesection{
        /* display: grid;
        grid-template-columns: 1fr 1fr 1fr; */
        background-color: #323528;
        border-style: double white;
        outline: 1px solid white;
        outline-offset: -30px;
    }
    
    .splashbillede{
    background-color: #323528;
    width: 100%;
    margin: auto;
    /* display: block; */
    position: relative;
    top: 155px;
    
    }

    /* section 1 */
    .section1{
        background-color:#454938;
        color: white;
        padding: 50px;
        line-height: 60px;
        display: grid;
        grid-template-rows: auto 1fr 1fr;
        text-align: center;
    }
    
    .h2forside{
        font-family: 'Antic Didone', serif;
        color: white;
        font-size: 2rem;
        background-color:#454938;
        grid-row: 1/2;
        
    }
    .h3forside{
     font-size: 1.2rem;
     color: #ffffff;
     font-family: 'Antic Didone', serif;
     grid-row: 2/3;
    }
    .om_mig_knap{
        grid-row: 3/4;
        width: 180px;
        height: 60px;
        background-color: #20241d;
        color: rgb(255, 255, 255);
        font-size: 1.3rem;
        list-style-type: none;
        border-radius: 5px;
        font-family: 'Antic Didone', serif;
        position: relative;
        left: 560px;
        top: 30px;
    }

    /* sectionwrapper 2 */
    .sectionwrapper2{
        display: grid;
        justify-content: center;
        background-color:#626453 ;
        padding: 7px;
        color: white;
        top: 20px;
    }
        .section2_h2{
        position: relative;
        top: 25px;
        font-size: 2.5rem;
    }
    /* section 2 */
    .section2{
        background-color:#626453;
        color: #626453;
        padding: 50px;
        line-height: 70px;
        gap: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-auto-rows: auto;
    }
    
    .kasse1{
        display: grid;
        grid-column: 1/2;
        width: 250px;
        height: 240px;
        background-color: #20241d;
        color: rgb(255, 255, 255);
        font-size: 5rem;
        list-style-type: none;
        border-radius: 4px;
        font-family: 'Antic Didone', serif;
        text-align: left;
        word-break: break-word;
    }
    .kasse2{
        display: grid;
        grid-column: 2/3;
        width: 250px;
        height: 240px;
        background-color: #20241d;
        color: rgb(255, 255, 255);
        font-size: 5.49rem;
        list-style-type: none;
        border-radius: 4px;
        font-family: 'Antic Didone', serif;
        text-align: left;
        word-break: break-word;
    }
    .kasse3{
        display: grid;
        grid-column: 3/4;
        width: 250px;
        height: 240px;
        background-color: #20241d;
        color: rgb(255, 255, 255);
        font-size: 4.3rem;
        list-style-type: none;
        border-radius: 4px;
        font-family: 'Antic Didone', serif;
        text-align: left;
        word-break: break-word;
    }
    .kasse4{
        display: grid;
        grid-column: 4/5;
        width: 250px;
        height: 240px;
        background-color: #20241d;
        color: rgb(255, 255, 255);
        font-size: 3.8rem;
        list-style-type: none;
        border-radius: 4px;
        font-family: 'Antic Didone', serif;
        text-align: left;
        word-break: break-word;
    }
}

