* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

/* generel billede regel */
img {
    max-width: 100%;
    object-fit: cover;
  }
/* fonts */
/* 
font-family: 'Antic Didone', serif;
font-family: 'Italiana', serif; 
font-family: 'Montserrat', sans-serif;*/

h2{
    font-family: 'Antic Didone', serif;
    /* font-family: 'Italiana', serif;*/
    font-size: 2.5rem;
}

h3{
    font-family: 'Antic Didone', serif;
    /* font-family: 'Italiana', serif; */
    font-size: 1.5rem;
}

p{
    font-family: 'Montserrat', sans-serif;
    line-height: 45px;
}
/* a hover farve*/
a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: rgb(180, 204, 189);
    text-decoration: none;
}

/* forside */

/* Tema4 side - sectioner */
/*responsiv tekst*/

@media screen and (max-width: 900px) {
/* section 1 */
    .section1{
    height: 0px;
    background-color:#454938;
    color: white;

}
    .h2_section1{
        position: relative;
        top: -80px;
        color: white;
        text-align: center;
        font-size: 0.8rem;
    }
    .h3_section1 {
    position: relative;
    top: -60px;
    font-size: 0.8rem;
    text-align: center;
    }

/* hr styling max-width*/
    .hr_section1{
    position: relative;
    top: -70px;
    border: 0.5px solid white;
    width: 60%; margin: 0 20% 0 20%;
}
/* section 2 */
.section2{
    height: 2500px;
    background-color:#454938;
    color: white;
    padding: 50px;
    line-height: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.h3_section2{
    font-size:1.5rem;
    order: 1;
}
.tekst_section2{
    grid-column: 1/2;
    order: 3;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    text-align: justify;
}
.spillet{
    width: 200px;
    height: 60px;
    background-color: #20241d;
    color: rgb(255, 255, 255);
    font-size: 1.4rem;
    list-style-type: none;
    border-radius: 15px;
    font-family: 'Antic Didone', serif;
    text-align: center ;
    overflow-wrap: break-word;
    position: relative;
    top: 70px;
    left: -70px;
    padding: 8px;
    order: 2;
    box-shadow: 1px 1px 0px 1px rgba(255,255,255,0.82);
}
.img1{
    width: 100%;
    order: 4;
    object-fit:scale-down;
}
/* section 3 */
.sectionwrapper3{
    background-color:#454938;
    color: white;
    padding: 50px;
    line-height: 50px;
    display: grid;
    gap:30px;
}
.section3{
    background-color:#454938;
    color: white;
    padding: 50px;
    line-height: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    grid-template-columns: 1fr;
}
.h3_section3{
    font-size: 1.5rem;
}
.h2_section3{
    font-size: 1.8rem;
}
.tekst_section3{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    text-align: justify;
}
.img2{
    width: 100%;
    order: 1;
}
.img3{
    width: 100%;
    order: 2;
}
.img4{
    width: 100%;
    order: 3;
}
.img5{
    width: 100%;
    order: 4;
}
.img6{
    width: 100%;
    order: 5;
}
.img7{
    width: 100%;
    order: 6;
}
.img8{
    width: 100%;
    order: 7;
}
.img9{
    width: 100%;
    order: 8;
}
/* section 4 */
.section4{
    height: 2100px;
    background-color:#626453;
    color: white;
    padding: 50px;
    line-height: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.h3_section4{
    font-size: 1.5rem;
    order: 1;
}
.tekst_section4{
    order: 3;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    text-align: justify;
}
.dokumentationssitet{
    width: 260px;
    height: 60px;
    background-color: #20241d;
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
    list-style-type: none;
    border-radius: 15px;
    font-family: 'Antic Didone', serif;
    text-align: center ;
    overflow-wrap: break-word;
    position: relative;
    top: -10px;
    left: 40px;
    padding: 8px;
    order: 2;
    box-shadow: 1px 1px 0px 1px rgba(255,255,255,0.82);
}
.img10{
    width: 100%;
    order: 4;
    object-fit:scale-down;
}
/* section 5 */
.section_wrapper5{
    height: 150px;
    background-color:#626453;
    color: white;
    padding: 50px;
    line-height: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.section5{
    background-color:#626453;
    color: white;
    padding: 50px;
    line-height: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.h3_section5{
    font-size: 1.5rem;
}
.img11{
    width: 100%;
    order: 1;
    border: white solid 2px;
}
.img12{
    width: 100%;
    order: 2;
    border: white solid 2px;
}
.img13{
    width: 100%;
    grid-column: 1/2;
    border: white solid 2px;
}
.img14{
    width: 100%;
    grid-column: 2/3;
    border: white solid 2px;
}
/* section 6 */
.section6{
    background-color:#999C87;
    color: white;
    padding: 50px;
    line-height: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.img15{
width: 100%;
border: white solid 2px;
}
.img16{
width: 100%;
border: white solid 2px;
}
.img17{
width: 100%;
border: white solid 2px;
}
}

@media screen and (min-width: 901px){
/* section 1 */
.section1{
    height: 0px;
    background-color:#454938;
    color: white;
}
.h2_section1{
    position: relative;
    top: -210px;
    color: white;
    text-align: center;
    font-size: 2.5rem;
}

.h3_section1{
    position: relative;
    top: -170px;
    color: white;
    text-align: center;
    font-size: 2.5rem;
}
/* hr styling min-width*/
.hr_section1{
    position: relative;
    top: -190px;
    border: 1px solid white;
    width: 60%; margin: 0 20% 0 20%;;
}
/* section 2 */
.section2{
    height: 1400px;
    background-color:#454938;
    color: white;
    padding: 50px;
    line-height: 50px;
    gap: 30px;
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    /* grid-template-rows: 1fr 1fr; */
}
.h3_section2{
    font-size: 2rem;
}
.tekst_section2{
    grid-column: 1/2;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    text-align: justify;
}
.spillet{
    width: 300px;
    height: 90px;
    background-color: #20241d;
    color: rgb(255, 255, 255);
    font-size: 1.4rem;
    list-style-type: none;
    border-radius: 15px;
    font-family: 'Antic Didone', serif;
    text-align: center ;
    overflow-wrap: break-word;
    position: relative;
    top: -690px;
    left: 770px;
    padding: 20px;
    box-shadow: 1px 1px 0px 1px rgba(255,255,255,0.82);
}
.img1{
    width: 100%;
    grid-column: 2/3;
}
/* section 3 */
.sectionwrapper3{
    background-color:#454938;
    color: white;
    padding: 50px;
    line-height: 70px;
    gap:30px;
}
.section3{
    height: 700px;
    background-color:#454938;
    color: white;
    padding: 50px;
    line-height: 50px;
    display: grid;
    gap:30px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.h3_section3{
    font-size: 1.6rem;
}
.h2_section3{
    font-size: 1.7rem;
}
.tekst_section3{
    grid-column: 1/2;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    text-align: justify;
}
.img2{
    width: 100%;
    grid-column: 1/2;
    grid-row: 2/3;
}
.img3{
    width: 100%;
    grid-column: 1/2;
    grid-row: 1/2;
}
.img4{
    width: 100%;
    grid-column: 2/3;
    grid-row: 1/2;
}
.img5{
    width: 100%;
    grid-column: 4/5;
    grid-row: 1/2;
}
.img6{
    width: 100%;
    grid-column: 3/4;
    grid-row: 1/2;
}
.img7{
    width: 100%;
    grid-column: 2/3;
    grid-row: 2/3;
}
.img8{
    width: 100%;
    grid-column: 3/4;
    grid-row: 2/3;
}
.img9{
    width: 100%;
    grid-column: 4/5;
    grid-row: 2/3;
}

/* section 4 */
.section4{
    height: 1200px;
    background-color:#626453;
    color: white;
    padding: 50px;
    line-height: 50px;
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1.3fr;
    /* grid-template-rows: 1fr 1fr; */
}
.h3_section4{
    font-size: 2rem;
    grid-column: 1/2;
}
.tekst_section4{
    grid-column: 1/2;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    text-align: justify;
}
.dokumentationssitet{
    width: 310px;
    height: 90px;
    background-color: #20241d;
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    list-style-type: none;
    border-radius: 15px;
    font-family: 'Antic Didone', serif;
    text-align: center ;
    overflow-wrap: break-word;
    position: relative;
    top: -180px;
    left: 770px;
    padding: 20px;
    box-shadow: 1px 1px 0px 1px rgba(255,255,255,0.82);
}
.img10{
    width: 100%;
    grid-column: 2/3;
}
/* section 5 */
.section_wrapper5{
    height: 0px;
    background-color:#626453;
    color: white;
    padding: 50px;
    line-height: 50px;
    gap: 30px;
}
.section5{
    height: 350px;
    background-color:#626453;
    color: white;
    padding: 50px;
    line-height: 50px;
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.h3_section5{
    font-size: 2rem;
    grid-column: 1/2;
}
.img11{
    width: 90%;
    grid-column: 1/2;
    border: white solid 2px;
}
.img12{
    width: 90%;
    grid-column: 2/3;
    border: white solid 2px;
}
.img13{
    width: 100%;
    grid-column: 3/4;
    border: white solid 2px;
}
.img14{
    width: 90%;
    grid-column: 4/5;
    border: white solid 2px;
}
/* section 6 */
.section6{
    background-color:#999C87;
    color: white;
    padding: 50px;
    line-height: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}
.img15{
width: 100%;
border: white solid 2px;
}
.img16{
width: 100%;
border: white solid 2px;
}
.img17{
width: 100%;
border: white solid 2px;
}
}

