* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

/* generel billede regel */
img {
    max-width: 100%;
    object-fit: cover;
  }
/* fonts */
/* font-family: 'Antic Didone', serif;
font-family: 'Italiana', serif; */

h2{
    font-family: 'Antic Didone', serif;
    /* font-family: 'Italiana', serif;*/
    font-size: 2.5rem;
}
h3{
    font-family: 'Antic Didone', serif;
    /* font-family: 'Italiana', serif; */
    font-size: 2rem;
}

/* a hover farve*/
a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: rgb(180, 204, 189);
    text-decoration: none;
}

/*splashbillede*/
.splashbillede2{
    width: 100%;
    background-color:#454938 ;
}
/* Tema2 side - sectioner */
/*responsiv tekst*/
@media screen and (max-width: 900px) {
/* section 1 */
    .section1_h2{
    position: relative;
    top: -90px;
    color: white;
    text-align: center;
    font-size: 1rem;
    }
    .section1_h3 {
    position: relative;
    top: -65px;
    font-size: 1rem;
    text-align: center;
    color: white;
    }

/* hr styling max-width*/
    .hr_section1{
    position: relative;
    top: -80px;
    border: 1px solid white;
    width: 80%; margin: 0 10% 0 10%;
  }
/* section 2*/
  .section2{
    background-color: #454938;
    color: white;
    padding: 50px;
    line-height: 40px;
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: 1fr;
    grid-template-rows: auto; 
    gap: 50px;
}

    .tekst_section2{
        grid-column: 1/2;
    }

    .h3_section2{
        color: white;
        font-size: 2rem;
    }
   
    /* knap til responsiv side */
    .responsive_site_v2{
        width: 200px;
        height: 80px;
        background-color: #20241d;
        color: rgb(255, 255, 255);
        font-size: 1.4rem;
        list-style-type: none;
        border-radius: 15px;
        font-family: 'Antic Didone', serif;
        text-align: center ;
        overflow-wrap: break-word;
        position: relative;
        top: 1px;
        left: 70px;
        padding: 10px;
        order: 3;
    }
    .img1{
        width: 100%;
        order: 4;
    }
/* section 3 */
    .section3{
        background-color:#626453;
        color: white;
        padding: 50px;
        line-height: 50px;
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
    }
    .tekst_section3{
        grid-column: 1/2;
    }
    .h3_section3{
        color: white;
        font-size: 2rem;
    }
    .img2{
        width: 100%;
    }
    /* section 4 */
    .section4{
        background-color:#999C87;
        color: white;
        padding: 50px;
        line-height: 50px;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
    .img_wood1{
        width: 100%;
        order: 1;
    }
    .img_wood2{
        width: 100%;
        order: 2;
    }
    .img_wood3{
        width: 100%;
        order: 3;
    }
}
@media screen and (min-width: 901px){
/* section 1 */
    .section1{
        background-color:#454938;
        color: white;
    }
.section1_h2{
    position: relative;
    top: -275px;
    color: white;
    text-align: center;
    font-size: 2.5rem;
}

.section1_h3{
    position: relative;
    top: -185px;
    color: white;
    text-align: center;
    font-size: 2.5rem;
}
/* hr styling min-width*/
.hr_section1{
    position: relative;
    top: -240px;
    border: 1px solid white;
    width: 80%; margin: 0 10% 0 10%;;
}
/*section 2*/
.section2{
    background-color: #454938;
    color: white;
    padding: 50px;
    line-height: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    /* grid-template-rows: 1fr 1fr; */
}

.tekst_section2{
    grid-column: 1/2;
}

.h3_section2{
    color: white;
    font-size: 3rem;
}

/* knap til responsiv side */
.responsive_site_v2{
    width: 260px;
    height: 100px;
    background-color: #20241d;
    color: rgb(255, 255, 255);
    font-size: 1.4rem;
    list-style-type: none;
    border-radius: 15px;
    font-family: 'Antic Didone', serif;
    text-align: center ;
    overflow-wrap: break-word;
    position: relative;
    top: -210px;
    left: 140px;
    padding: 10px;
}
/* section 3 */
.section3{
    background-color:#626453;
    color: white;
    padding: 50px;
    line-height: 50px;
    gap: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 1fr 1fr; */
}
.tekst_section3{
    grid-column: 1/2;
}
.h3_section3{
    color: white;
    font-size: 3rem;
}
/* section 4 */
.section4{
    background-color:#999C87;
    color: white;
    padding: 50px;
    line-height: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}
.img_wood1{
    width: 100%;
}
.img_wood2{
    width: 100%;
}
.img_wood3{
    width: 100%;
}
}
