* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

/* generel billede regel */
img {
    max-width: 100%;
    object-fit: cover;
  }
/* fonts */
/* 
font-family: 'Antic Didone', serif;
font-family: 'Italiana', serif; 
font-family: 'Baskervville', serif;*/

h2{
    font-family: 'Antic Didone', serif;
    /* font-family: 'Italiana', serif;*/
    font-size: 2.5rem;
}

h3{
    font-family: 'Antic Didone', serif;
    /* font-family: 'Italiana', serif; */
    font-size: 1.5rem;
}

p{
    font-family: 'Baskervville', serif;
    line-height: 45px;
}

/* a hover farve*/
a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: rgb(180, 204, 189);
    text-decoration: none;
}

/* forside */



/* Tema4 side - sectioner */
/*responsiv tekst*/

@media screen and (max-width: 900px) {
/* section 1 */
.section1{
    background-color:#454938;
    color: white;
}
    .h2_section1{
        position: relative;
        top: -80px;
        color: white;
        text-align: center;
        font-size: 0.9rem;
    }
    .h3_section1 {
    position: relative;
    top: -65px;
    font-size: 0.6rem;
    text-align: center;
    }
    .h3_section1_2{
        position: relative;
        top: -60px;
        color: white;
        text-align: center;
        font-size: 0.6rem;
    }
    /* hr styling max-width*/
    .hr_section1{
    position: relative;
    top: -74px;
    border: 1px solid white;
    width: 60%; margin: 0 20% 0 20%;
}
/* section 2 */
.section2{
    background-color:#454938;
    color: white;
    padding: 50px;
    line-height: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    grid-template-columns: 1fr;
    /* grid-template-rows: 1fr 1fr; */
}
.h3_section2{
    font-size: 1.5rem;
    order: 1;
}
.tekst_section2{
    order: 2;
    font-family: 'Baskervville', serif;
    font-size: 0.9rem;
    text-align: justify;
}
.Pilotprojektet{
    width: 180px;
    height: 65px;
    background-color: #20241d;
    color: rgb(255, 255, 255);
    font-size: 1.4rem;
    list-style-type: none;
    border-radius: 15px;
    font-family: 'Antic Didone', serif;
    text-align: center ;
    overflow-wrap: break-word;
    position: relative;
    top: -10px;
    left: 70px;
    padding: 10px;
    order: 3;
}
.img1{
    width: 100%;
    order: 4;
    /* border: white solid 2px;
    border-radius: 20px; */
}
/* section 3 */
.section3{
    background-color:#454938;
    color: white;
    padding: 50px;
    line-height: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    grid-template-columns: 1fr;
    /* grid-template-rows: 1fr 1fr; */
}
.h3_section3{
    font-size: 1.5rem;
    order: 1;
}
.tekst_section3{
    order: 2;
    font-family: 'Baskervville', serif;
    font-size: 0.9rem;
    text-align: justify;
}
.img2{
    width: 100%;
    order: 4;
    /* border: white solid 20px; */
}

/* section 4 */
.section4{
    background-color:#626453;
    color: white;
    padding: 50px;
    line-height: 50px;
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: 1fr ;
    gap: 30px;
    /* grid-template-rows: 1fr 1fr; */
}
.h3_section4{
    font-size: 2rem;
    order: 1;
}
.tekst_section4{
    order: 2;
    font-family: 'Baskervville', serif;
    font-size: 0.9rem;
    text-align: justify;
}
.Redesign_opgaven{
    width: 200px;
    height: 80px;
    background-color: #20241d;
    color: rgb(255, 255, 255);
    font-size: 1.4rem;
    list-style-type: none;
    border-radius: 15px;
    font-family: 'Antic Didone', serif;
    text-align: center ;
    overflow-wrap: break-word;
    position: relative;
    top: -10px;
    left: 70px;
    padding: 10px;
    order: 3;
}
.img3{
    width: 100%;
    order: 4;
    /* border: white solid 2px;
    border-radius: 20px; */
}
/* section 5 */
.section5{
    background-color:#626453;
    color: white;
    padding: 50px;
    line-height: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.h3_section5{
    font-size: 1.5rem;
    order: 1;
}
.tekst_section5{
    order: 2;
    font-family: 'Baskervville', serif;
    font-size: 0.9rem;
    text-align: justify;
}
.img4{
    width: 100%;
    order: 3;
    /* border: white solid 20px; */
}
/* section 6 */
.section6{
    background-color:#999C87;
    color: white;
    padding: 50px;
    line-height: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.img1_section6{
    width: 100%;
    border: white solid 5px;
}
.img2_section6{
    width: 100%;
    border: white solid 5px;
}
.img3_section6{
    width: 100%;
    border: white solid 5px;
}
}

@media screen and (min-width: 901px){
/* section 1 */
    .section1{
        background-color:#454938;
        color: white;
    }
.h2_section1{
    position: relative;
    top: -230px;
    color: white;
    text-align: center;
    font-size: 2.2rem;
}

.h3_section1{
    position: relative;
    top: -170px;
    color: white;
    text-align: center;
    font-size: 1.5rem;
}
.h3_section1_2{
    position: relative;
    top: -150px;
    color: white;
    text-align: center;
    font-size: 1.5rem;
}

/* hr styling min-width*/
.hr_section1{
    position: relative;
    top: -190px;
    border: 1px solid white;
    width: 60%; margin: 0 20% 0 20%;;
}
/* section 2 */
.section2{
    background-color:#454938;
    color: white;
    padding: 50px;
    line-height: 50px;
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 1fr 1fr; */
}
.h3_section2{
    font-size: 2rem;
    grid-column: 1/2;
}
.tekst_section2{
    grid-column: 1/2;
    font-family: 'Baskervville', serif;
    font-size: 1rem;
    text-align: justify;
}
.Pilotprojektet{
    width: 260px;
    height: 100px;
    background-color: #20241d;
    color: rgb(255, 255, 255);
    font-size: 1.4rem;
    list-style-type: none;
    border-radius: 15px;
    font-family: 'Antic Didone', serif;
    text-align: center ;
    overflow-wrap: break-word;
    position: relative;
    top: -150px;
    left: 10px;
    padding: 10px;
}
.img1{
    width: 100%;
    grid-column: 2/3;
    /* border: white solid 2px;
    border-radius: 20px; */
}
/* section 3 */
.section3{
    background-color:#454938;
    color: white;
    padding: 50px;
    line-height: 50px;
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 1fr 1fr; */
}
.h3_section3{
    font-size: 2rem;
    grid-column: 1/2;
}
.tekst_section3{
    grid-column: 1/2;
    font-family: 'Baskervville', serif;
    font-size: 1rem;
    text-align: justify;
}
.img2{
    width: 100%;
    grid-column: 2/3;
    /* border: white solid 20px; */
}

/* section 4 */
.section4{
    background-color:#626453;
    color: white;
    padding: 50px;
    line-height: 50px;
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 1fr 1fr; */
}
.h3_section4{
    font-size: 2rem;
    grid-column: 1/2;
}
.tekst_section4{
    grid-column: 1/2;
    font-family: 'Baskervville', serif;
    font-size: 1rem;
    text-align: justify;
}
.Redesign_opgaven{
    width: 260px;
    height: 100px;
    background-color: #20241d;
    color: rgb(255, 255, 255);
    font-size: 1.4rem;
    list-style-type: none;
    border-radius: 15px;
    font-family: 'Antic Didone', serif;
    text-align: center ;
    overflow-wrap: break-word;
    position: relative;
    top: -150px;
    left: 10px;
    padding: 10px;
}
.img3{
    width: 100%;
    grid-column: 2/3;
    /* border: white solid 2px;
    border-radius: 20px; */
}
/* section 5 */
.section5{
    background-color:#626453;
    color: white;
    padding: 50px;
    line-height: 50px;
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 1fr 1fr; */
}
.h3_section5{
    font-size: 2rem;
    grid-column: 1/2;
}
.tekst_section5{
    grid-column: 1/2;
    font-family: 'Baskervville', serif;
    font-size: 1rem;
    text-align: justify;
}
.img4{
    width: 100%;
    grid-column: 2/3;
    /* border: white solid 20px; */
}
/* section 6 */
.section6{
    background-color:#999C87;
    color: white;
    padding: 50px;
    line-height: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}
.img1_section6{
    width: 100%;
    border: white solid 5px;
}
.img2_section6{
    width: 100%;
    border: white solid 5px;
}
.img3_section6{
    width: 100%;
    border: white solid 5px;
}
}

/* hr styling */
hr{
    border-top: 1px solid white;
}