* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

/* generel billede regel */
img {
    max-width: 100%;
    object-fit: cover;
  }

/* footer styling */
.liste{
display: flex;
flex-wrap: wrap;
padding: 50px;
gap: 150px;
list-style: none;
/* font-family: ; */
font-size: 16px;
background-color: #20241d;
position: sticky;
text-decoration: none;
}

/* a hover farve*/
a{
    color: white;
}

a:hover{
    color: rgb(180, 204, 189);
}

/* forside */
.section1{
    background-color:#454938;
    color: white;
    padding: 50px;
    line-height: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.section2{
    background-color:#999C87;
    color: white;
    padding: 50px;
    line-height: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* p tekster forside */
.p1{
 padding: 30px;
 grid-column: 1/2;
}

.p2{
    padding: 30px;
    grid-column: 2/3;
   }


/* billeder */ 
.img_wood1{
    grid-column: 2/3;
}

.img_wood2{
    grid-column: 1/2;
}